.img-header img {
    width: auto;
    max-height: 128px;
}

.nav {
    background-color: #f0f0f0;
}

.nav-link:hover {
    color: #0d6efd;
    text-decoration: underline;
    background-color: rgb(127, 255, 255);
}

.digit-digital {
    font-size: 80px;
}

.digit-digital-stopwatch {
    font-size: 80px;
    line-height: 1;
}

.sep {
    font-size: 40px;
    line-height: 1;
}

.sentence {
    font-size: 40px;
    line-height: 1;
    position: relative;
    bottom: 8px;
}

.stopwatch-display {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.stopwatch-display span {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.milli {
    font-size: 40px;
    line-height: 1;
    position: relative;
    bottom: 0px;
}

#stop-watch {
    font-family: monospace;
    letter-spacing: normal;
}

.calendar-table td,
.calendar-table th {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.calendar-table td {
    cursor: pointer;
}

.calendar-table td:hover {
    background-color: #f0f8ff;
}

.calendar-table td.calendar-today {
    background-color: #d1e7dd;
    font-weight: bold;
    border: 2px solid #0d6efd;
}

.btn-mini-calendar:hover {
    background-color: darkblue;
    color: white;
}

.icon-yellow {
    color: gold;
}

.div-width {
    min-width: 180px;
}

/* .time-style {
    font-size: clamp(40px, 5vw, 80px);
    display: block;
}

.title-style {
    font-size: clamp(16px, 2vw, 30px);
    display: block;
} */

.d-flex.flex-column span.title-style {
    margin-top: -25px;
    /* chỉnh sát số hơn */
}

.time-style {
    font-size: 80px;
}

.title-style {
    font-size: 28px;
}

@media (max-width: 768px) {
    .time-style {
        font-size: 50px;
    }

    .title-style {
        font-size: 20px;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 9999;
    pointer-events: none;
}

/* Bắn pháo hoa bay lên */
@keyframes shoot {
    0% {
        transform: translateY(100vh) scaleY(1);
        opacity: 1;
    }

    100% {
        transform: translateY(20vh) scaleY(0.5);
        opacity: 1;
    }
}

/* Nổ tung (sau khi bay lên) */
@keyframes explode {
    0% {
        width: 4px;
        height: 80px;
        opacity: 1;
    }

    100% {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: radial-gradient(circle, yellow, transparent);
        opacity: 0;
    }
}

#pomodoroDisplay {
    font-size: 72px;
}

#pomodoro-status {
    padding: 0.5rem 1rem;
}

@media (max-width: 576px) {

    .calendar-table td,
    .calendar-table th {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
}